{% extends "base.twig" %}

{% block title %}Produtos
{% endblock %}

{% block link %}
	<link rel="stylesheet" href="/assets/styles.css">
	<link rel="stylesheet" href="/assets/styles/dashboard/styles.css">
{% endblock %}

{% block content %}
	<nav>
		<a href="/">Início</a>
		<a href="/cupons">Cupons</a>
		<a href="/pedidos">Pedidos</a>

		{% if pedido is defined and pedido.produtos is defined and pedido.produtos|length > 0 %}
			{% set totalItens = pedido.produtos | map(p => p.itens | length) | reduce((a, b) => a + b) %}
			<a href="/sacola">
				Sacola
				<span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ totalItens }}</span>
			</a>
		{% endif %}
	</nav>

	<main class="dashboard">
		<h1>Bem-vindo ao seu painel de produtos!</h1>
		<p>Aqui você poderá gerenciar seus produtos e acompanhar tudo com agilidade.</p>

		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-cadastro-produto">
			Cadastrar Novo Produto
		</button>

		{% if erro %}
			<div class="error-message">{{ erro }}</div>
		{% endif %}

		<!-- Modal -->
		<div class="modal fade modal-xl" id="modal-cadastro-produto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro Produtos</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form class="formulario-cadastro-produto" action="/produtos/salvar" method="POST">
							<div class="mb-3">
								<label for="nomeProduto" class="form-label">Nome</label>
								<textarea class="form-control" id="nomeProduto" rows="3" name="nomeProduto"></textarea>
							</div>

							<hr>
							<h5>Itens do Produto</h5>

							<div id="area-itens-dinamicos"></div>

							<button type="button" class="btn btn-warning adicionar-mais-itens">Adicionar</button>
							<button type="submit" class="btn btn-primary salvar-produtos">Salvar</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Sacola -->
		<div class="modal fade" id="modal-sacola" tabindex="-1" aria-labelledby="modalSacolaLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalSacolaLabel">Itens disponíveis</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
					</div>
					<div class="modal-body">
						<div
							id="itens-disponiveis-sacola"><!-- Itens serão inseridos aqui dinamicamente -->
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="card-container">
			{% for produto in produtos %}
				<div class="card" data-id="{{produto.id}}">
					<h2>{{ produto.nome }}</h2>
					<button class="btn btn-info editar-produto">Editar</button>
					<button class="btn btn-danger excluir-produto">Excluir</button>
					<button class="btn btn-success comprar-produto">Comprar</button>
					<hr>
					{% if produto.itens|length > 0 %}
						{% for item in produto.itens %}
							<input type="hidden" value="{{item.id}}" class="idItem"/>

							<p>Referencia:
								{{ item.referencia }}</p>
							<p>Cor:
								{{ item.cor }}</p>
							<p>Tamanho:
								{{ item.tamanho }}</p>
							<p>Estoque:
								{{ item.estoque }}</p>
							<p>Preco:
								{{ item.preco }}</p>
						{% endfor %}
					{% else %}
						<p>Nenhum item cadastrado ainda para esse produto.</p>
					{% endif %}
				</div>
			{% else %}
				<p>Nenhum produto cadastrado ainda.</p>
			{% endfor %}
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script src="/js/produto/produto.js"></script>
{% endblock %}
